#root {
  margin: 0 auto;
  list-style-type: none;
}
html {
  width: 100vw;
}
body {
  margin: 0;
}
.content-wrapper {
  height: max-content;
  padding-bottom: 2rem;
}
article {
  text-align: center;
  height: 100%;
}

.top-ten {
  width: 100%;
  
}
.circle {
  width: 100%;
}